body {
    margin: 0;
}

* {
    box-sizing: border-box;
    color: white;
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px gainsboro;
    border-radius: 10px;
}
header {
    border-radius: 10px;
    background-color: #53b7db;
}
main {
    border-radius: 10px;
    background-color: #12aee7;
}
body {
    border-radius: 10px;
    background-color: #39839e;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: #ae0d12;
    }
}
nav li:hover {
    background-color:  #f6ef97;
    border: 0;
    padding: 15px 15px;
    border-radius: 8px;
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-rojo-o {
    background-color: #ae0d12;
}
.bg-azul-c {
    background-color: rgb(225, 245, 253);
}
.bg-orange {
    background-color: orange;
}
.text-yellow {
    color: #fabe00;
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}

footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}
.etiqueta{
    color: purple;
    font-size: 24px;
    font-weight: bold;
}
.atributo{
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.enlaces{
    color: rgb(255, 200, 0);
    font-size: 14px;
}
#listas .customdes li{
    list-style-type: square;
}
#listas .customdes li li{
    list-style-type: disc;
}
#listas .customdes li li li{
    list-style-type: circle;
}
#listas .customord li{
    list-style-type: upper-roman;
}
#listas .customord li li{
    list-style-type: upper-alpha;
}
#listas .customord li li li{
    list-style-type: decimal;
}
#listas .customico li li{
    list-style-image: url("../img/mario.png");
}
#listas .customico li li li{
    list-style-image: none;
}
#listas .listadefcustom dt{
    display: inline;
    background-color: rgb(196, 205, 204);
    color: red;
    font-size: 18px;
    font-weight: bold;
}
#listas .listadefcustom dl{
    width: 30%;
}
.striped tr:nth-child(odd) td{
    background-color: red;
}
.striped tr:nth-child(even) td{
    background-color: yellow;
}
.horario{
    width: 80%;
    margin: 0 auto;
}
.bdd{
    background-color: #82fb91;
    
}
.sasp{
    background-color: #28c8c8;
}
.ipe{
    background-color: #fe8081;
}
.prog{
    background-color: #64b4ef;
}
.dasp{
    background-color: #ffff63;
}
.sisi{
    background-color: #65aa97;
}
.lmsg{
    background-color: #d2d26e;
}
.ipcg{
    background-color: #ffa264;
}
.ende{
    background-color: #c5a3c6;
}
.pimd{
    background-color: #ffc897;
}
.white-blocks{
    background-color: white;
}
.cursiva{
    font-style: italic;
}
.letra{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.etiquetadam{
    color: #3f828a;
    font-size: 24px;
}
.letracolor{
    color: #3f828a;
}
.centrado{
    text-align: center;
}
.letraclases{
    color:rgb(0, 0, 0);
    font-style: normal;
}
.conttemp{
    width: 200px;
}
.conttemp2{
    width: 25px;
}
.formlogin{
    float: left;
    width: 30%;
}
.formlogin fieldset {
    width: 70%;
}
.formregister{
    float: right;
    width: 50%;
}
.formlogin fieldset {
    width: 80%;
}
.formhtml5 {
    width: 50%;
    margin: 0 auto;
    background-color: #e2fafa;
}
.formhtml5 legend {
    background-color: rgb(6, 6, 71);
    color: white;
    font-size: 22px;
}
.formhtml5 label {
    background-color: #6648cf;
    color: white;
    font-size: 16px;
}
.btn {
    border: 0;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 20px;
}
.tithtml5 {
    border: 0;
    padding: 10px 30px;
    font-size: 20px;
}
.btn-blue {
    background-color: #160344;
    color: white;
}
.btn-red {
    background-color: #ae0d12;
    color: #fabe00;
}
.cb{
    clear: both;
}
.col3{
    width: 33.3%;
    float: left;
}
.col3 img{
    padding: 4px;
}
video{
    display: block;
    width: 50%;
    margin: 0 auto;
}
audio{
    display: block;
    margin: 0 auto;
}
section{
    display: flex;
    width: 600px;
    height: 430px;
}
section img{
    flex-grow: 1;
    width: 0px;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.photos{
    margin: 0 auto;
    width: 56%;
}